@import url('https://fonts.googleapis.com/css?family=Poppins');

:root[data-theme="light"] {
    --text: rgb(18, 26, 28);
    --background: rgb(241, 247, 248);
    --primary: rgb(34, 99, 109);
    --secondary: rgb(125, 218, 232);
    --secondaryLight: rgb(38, 193, 217);
    --accent: rgb(16, 205, 234);
    --empty: rgba(16, 205, 234, 0.3);
}

:root[data-theme="dark"] {
    --text: rgb(227, 235, 237);
    --background: rgb(7, 13, 14);
    --primary: rgb(146, 211, 221);
    --secondary: rgb(23, 116, 130);
    --secondaryLight: rgb(212, 243, 247);
    --accent: rgb(21, 210, 239);
    --empty: rgba(21, 210, 239, 0.3);
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Poppins';
    font-weight: 400;
}

.beGone {
    display: none !important;
}

button {
    background-color: var(--primary);
    color: var(--background);
    border-radius: 10px;
    border: 0px solid;
    text-align: center;
}

button:active {
    transform: translateY(3px);
}

.fullScreenPrompt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: 4rem;
    z-index: 5;
    text-align: center;
}

.gameOver {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: 4rem;
    z-index: 5;
    text-align: center;
    background-color: var(--background);
}

.theme-toggle {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    z-index: 3;
    font-size: 30px;
}

.theme-toggle:active {
    transform: translateX(-50%) translateY(3px) !important;
}

.pl1 {
    float: left;
    width: 50vw;
    height: 100vh;
    text-align: center;
}

.divider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 3px;
    height: 100vh;
    background-color: var(--secondaryLight);
    z-index: 2;
    box-shadow:
        0 0 10px var(--secondary),
        0 0 20px var(--secondary),
        0 0 30px var(--secondary),
        0 0 40px var(--secondary),
        0 0 50px var(--secondary);
}

.pl2 {
    width: 50vw;
    height: 100vh;
    text-align: center;
}

.pl_name {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5vh;
}

.pl_ball {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.8rem;
}

.pl_decideHalf {
    font-size: 1.8rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    width: 20vw;
    height: 10vh;
}

.pl1_score {
    font-size: 7rem;
    text-align: center;
    margin: 0;
}

.pl2_score {
    font-size: 7rem;
    text-align: center;
    margin: 0;
}

.pl1_fouls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 20vw;
    height: 10vh;
    margin: 0 auto;
}

.pl1_foul1 {
    background-color: var(--empty);
    width: 5vw;
    height: 5vh;
    border: 3px solid var(--accent);
    border-radius: 10px;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.pl1_foul2 {
    background-color: var(--empty);
    width: 5vw;
    height: 5vh;
    border: 3px solid var(--accent);
    border-radius: 10px;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.pl1_foul3 {
    background-color: var(--empty);
    width: 5vw;
    height: 5vh;
    border: 3px solid var(--accent);
    border-radius: 10px;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.pl2_fouls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 20vw;
    height: 10vh;
    margin: 0 auto;
}

.pl2_foul1 {
    background-color: var(--empty);
    width: 5vw;
    height: 5vh;
    border: 3px solid var(--accent);
    border-radius: 10px;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.pl2_foul2 {
    background-color: var(--empty);
    width: 5vw;
    height: 5vh;
    border: 3px solid var(--accent);
    border-radius: 10px;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.pl2_foul3 {
    background-color: var(--empty);
    width: 5vw;
    height: 5vh;
    border: 3px solid var(--accent);
    border-radius: 10px;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.pl_countUp {
    font-size: 1.8rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    width: 10vw;
    height: 10vh;
}

.pl_countDown {
    font-size: 1.8rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    width: 10vw;
    height: 10vh;
}

.pl_foul {
    font-size: 1.8rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    width: 10vw;
    height: 10vh;
}