@import url('https://fonts.googleapis.com/css?family=Poppins');

:root[data-theme="light"] {
    --text: rgb(18, 26, 28);
    --background: rgb(241, 247, 248);
    --primary: rgb(34, 99, 109);
    --secondary: rgb(125, 218, 232);
    --secondaryLight: rgb(38, 193, 217);
    --accent: rgb(16, 205, 234);
    --empty: rgba(16, 205, 234, 0.3);
}

:root[data-theme="dark"] {
    --text: rgb(227, 235, 237);
    --background: rgb(7, 13, 14);
    --primary: rgb(146, 211, 221);
    --secondary: rgb(23, 116, 130);
    --secondaryLight: rgb(212, 243, 247);
    --accent: rgb(21, 210, 239);
    --empty: rgba(21, 210, 239, 0.3);
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.beGone {
    display: none !important;
}

button {
    background-color: var(--primary);
    color: var(--background);
    border-radius: 10px;
    border: none;
    text-align: center;
}

button:active {
    transform: translateY(3px);
}

.fullScreenPrompt, .theme-toggle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    z-index: 3;
    font-size: 30px;
}

.theme-toggle {
    top: 10px !important;
}

.history {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 3;
    font-size: 30px;
}

.fullScreenPrompt:active, .theme-toggle:active {
    transform: translateX(-50%) translateY(3px) !important;
}

.selectGames {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
    width: 100vw;
    height: calc(100vh - 120px);
    top: 50%;
    transform: translateY(-50%);
}

.game {
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 1.2rem;
    width: 15vw;
    height: 20vh;
    margin: auto;
}